{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-5 py-5 z-depth-1">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold">this about us page</h3>

          <p class="text-muted">We, Basing on  the law N°04/2012 of February 17,
             2012detemining the organization and functioning 
             of national non-governmental organizations,
              established the organizations  
              known as ‘  Youth Initiatives for 
              Development and Human Rights Organization’ (YiDHO)

          </p>
         
          <a class="btn btn-purple btn-md ml-0" href="#" role="button">Start now<i class="fa fa-gem ml-2"></i></a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" class="img-fluid"
              alt="">
            <a href="#">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
{% endblock %}