def mocasy(choice):
  if(choice =='*402#'):
    print ('welcome to  digital ikigega platform for farmers:')
    print('1.harvesting services ')
    print('2.fincial services')
    print('0.others')
    choice = input('enter your choice:')
    if (choice=='1'):
       print('1.current total harvesting')
       print('2.weekly harvesting report')
       print('3.daily harvesting report')
       choice = input('enter your choice:')
    if (choice=='2'):
       print('1.Loan')
       print('2.saving')
       choice = input('enter your choice:')
       if (choice=='1'):
           print('1.get direct mobile credit')
           print('2.pay loan')
           print('3.check the statement')
           choice = input('enter your choice:')
           if (choice=='1'):
               print('enter your code')
               choice = input('enter your code:')
               print('enter needed amount:')
choice= input('Enter *142#:')
mocasy(choice)