
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-6 col-md-6 ">
          <h1><span class="text-black-300">this is the</span>
          <span class="text-purple-400 text-6xl">welcome to our home page</span></h1>
          <br>
          <br>
          <p class="text-lg text-black-200">We exist today to create an inclusive community for pre-career<br>
            and early-career software developers,  provide opportunities for<br>
            networking, and make pathways to paying work in tech roles</p>
            <br>
            <a href="{% url 'about' %}" class=" border-solid-purple border-2 text-purple-500 hover:text-white-900 bg-white-700 hover:bg-purple-700 font-4xl py-2 px-4 rounded-full">
              home
            </a>
        </div>
<div class=" col-sm-6 col-md-6 py-20 ">
    <h1>this about us page welcome</h1>
    <div class="card" style="height:280px;width:400px;border-radius: 15px;">
      <img src="{% static 'image/pop.jpeg' %}" class="card-img-top">
    </div>
  </div>
</div>
</div>
<hr>
<p class="px-20 bg-white-700">PopSchools is meant to create access to a safe and inclusive community, mutual aid,
  and paying work opportunities through <br>apprenticeships to early-career software developer</p>
  <div class="grid grid-cols-3 gap-8 px-20 mb-4" >
  <div>
    <img src="{% static 'image/career3.jpg' %}" data-aos="fade-down" data-aos-easing="linear" >
  </div>
  <div>
    <img src="{% static 'image/career2.jpg' %}"data-aos="flip-right" >
  </div>
  <div>
    <img src="{% static 'image/career3.jpg' %}"data-aos="fade-down" data-aos-easing="linear">
  </div>

  </div>
<div class="grid grid-cols-2 gap-12 bg-purple-700 "data-aos="zoom-in-down">
<div>
<img src="{% static 'image/pmt.jpg' %}" width="200px" height="200px" class="px-8">
<p class="text-white-700 px-4">PopSchools is a collective community effort.
<br> We are currently building the PopSchools community<br>
primarily through our newsletter, GitHub,<br> and our community at popschools.club.
<br> Our website is under construction<br> but you can expect to find out more about us,
<br> what we do, and who has supported us there soon.</p>
</div>
<div class="mb-3">
<img src="{% static 'image/pop.jpeg' %}" width="200px" height="80px" class="origin-left transform rotate-45 ">
<img src="{% static 'image/pop.jpeg' %}" width="200px" height="80px"class="origin-left transform rotate-45  ">
</div>
</div>
<h2 style="text-align: center;" class="font-bold  text-gray-600 text-2xl py-10"> Meet our founder</h2>
<div class="grid grid-cols-2 gap-20 ">
<div class="px-20 ">
<img src="{% static 'image/pop.jpeg' %}" style="height:300px; width:500px; border-radius: 15px;" 
class="border-solid border-4 border-purple-600">
</div>
<div>
<p class="text-gray-600"data-aos="zoom-in-left">My work is about creating opportunities for technologists like myself <br>
who are just getting started in their tech careers. <br>
I recognize from experience the extra effort it takes to get a great start <br>
when you are dealing with financial hardships and a number of non-negotiable adult responsibilities.<br> 
When you sponsor me, you allow me the mental space to do my work to the best of my ability.</p>  
<br> 
<span class="text-gray-600 font-bold text-2xl">Nikema Prophet</span>
<br><br>
<span uk-icon="icon: twitter; ratio: 2"></span>
<span uk-icon="icon: github; ratio: 2"></span>
</div>
</div>
<div class="container-fluid bg-purple-700 py-4">
<div class="row">
<div uk-slider="center: true">

<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

  <ul class=" w-50 uk-slider-items uk-child-width-1-2@s uk-grid">
      <li>
          <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                  <img src="{% static 'image/pop.jpeg' %}" alt="">
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title">@company</h3>
              </div>
          </div>
      </li>
      <li>
          <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                  <img src="{% static 'image/pop.jpeg' %}" alt="">
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title">@company</h3>
              </div>
          </div>
      </li>
      <li>
          <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                  <img src="{% static 'image/pop.jpeg' %}" alt="">
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title">@company</h3>
              </div>
          </div>
      </li>
      <li>
          <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                  <img src="{%  static 'image/pop.jpeg' %}" alt="">
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title">@company</h3>
                  
              </div>
          </div>
      </li>
      <li>
          <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                  <img src="{% static 'image/pop.jpeg' %}" alt="">
              </div>
              <div class="uk-card-body">
                  <h3 class="uk-card-title">@company</h3>
              </div>
          </div>
      </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>

<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
</div>
</div>
<br>
<div class="container-fluid p-5" style="background-color: rgba(148, 179, 241, 0.829);" data-aos="fade-down"data-aos-easing="linear"data-aos-duration="1500">
<h2 style="text-align: center;" class="text-purple-700 text-4xl">contibutors</h2>
<div class="row gap-6">

<div class=" col-sm-2 col-md-2 border-solid border-2 rounded-lg " style="background-color: white;">
<img src="{% static 'image/pop.jpeg' %}" class="w-10 rounded-full border-solid border-4 border-purple-600 ml-20 mt-1">
<p><span class="text-gray-500"><strong>Nikema Prophet</strong></span>
<br>
<span class="text-gray-500">software developer</span>
</p> 
   <a href="" class="uk-icon-button" uk-icon="twitter"></a>
</div>
<div class=" col-sm-2 col-md-2 border-solid border-2 rounded-lg" style="background-color: white;">
<img src="{% static 'image/pop.jpeg' %}" class="w-10 rounded-full border-solid border-4 border-purple-600 ml-20 mt-1">
<p><span class="text-gray-500"><strong>Nikema Prophet</strong></span>
  <br>
<span class="text-gray-500">software developer</span>
</p> 
<a href="" class="uk-icon-button" uk-icon="github"></a>
<a href="" class="uk-icon-button" uk-icon="twitter"></a>
</div>
<div class=" col-sm-2 col-md-2 border-solid border-2 rounded-lg "style="background-color: white;">
  <img src="{% static 'image/pop.jpeg'  %}" class="w-10 rounded-full border-solid border-4 border-purple-600 ml-20 mt-1">
  <p><span class="text-gray-500"><strong>Nikema Prophet</strong></span>
    <br>
  <span class="text-gray-500">software developer</span>
  </p> 
  <a href="" class="uk-icon-button" uk-icon="github"></a>
  <a href="" class="uk-icon-button" uk-icon="twitter"></a>
  </div>
  <div class=" col-sm-2 col-md-2 border-solid border-2 rounded-lg "style="background-color: white;">
    <img src="{% static 'image/pop.jpeg' %}" class="w-10 rounded-full border-solid border-4 border-purple-600 ml-20 mt-1">
    <p><span class="text-gray-500"><strong>Nikema Prophet</strong></span>
      <br>
    <span class="text-gray-500">software developer</span>
    </p> 
    <a href="" class="uk-icon-button" uk-icon="github"></a>
    <a href="" class="uk-icon-button" uk-icon="twitter"></a>
    </div>
    <div class=" col-sm-2 col-md-2 border-solid border-2 rounded-lg"style="background-color: white;">
      <img src="{%  static 'image/pop.jpeg' %}" class="w-10 rounded-full border-solid border-4 border-purple-600 ml-20 mt-1">
      <p><span class="text-gray-500"><strong>Nikema Prophet</strong></span>
        <br>
      <span class="text-gray-500">software developer</span>
      </p> 
      <a href="" class="uk-icon-button" uk-icon="github"></a>
      <a href="" class="uk-icon-button" uk-icon="twitter"></a>
      </div>
      <div class=" col-sm-2 col-md-2 border-solid border-2 rounded-lg "style="background-color: white;">
        <img src="{% static 'image/pop.jpeg' %}" class="w-10 rounded-full border-solid border-4 border-purple-600 ml-20 mt-1">
        <p><span class="text-gray-500"><strong>Nikema Prophet</strong></span>
          <br>
        <span class="text-gray-500">software developer</span>
        </p> 
        <a href="" class="uk-icon-button" uk-icon="github"></a>
        <a href="" class="uk-icon-button" uk-icon="twitter"></a>
        </div>
        <div class=" col-sm-2 col-md-2 border-solid border-2 rounded-lg "style="background-color: white;">
          <img src="{% static 'image/pop.jpeg' %}" class="w-10 rounded-full border-solid border-4 border-purple-600 ml-20 mt-1">
          <p><span class="text-gray-500"><strong>Nikema Prophet</strong></span>
            <br>
          <span class="text-gray-500">software developer</span>
          </p> 
          <a href="" class="uk-icon-button" uk-icon="github"></a>
          <a href="" class="uk-icon-button" uk-icon="twitter"></a>
          </div>
          <div class=" col-sm-2 col-md-2 border-solid border-2 rounded-lg "style="background-color: white;">
            <img src="{% static 'image/pop.jpeg' %}" class="w-10 rounded-full border-solid border-4 border-purple-600 ml-20 mt-1">
            <p><span class="text-gray-500"><strong>Nikema Prophet</strong></span>
              <br>
            <span class="text-gray-500">software developer</span>
            </p> 
            <a href="" class="uk-icon-button" uk-icon="github"></a>
            <a href="" class="uk-icon-button" uk-icon="twitter"></a>
            </div>
            <div class=" col-sm-2 col-md-2 border-solid border-2 rounded-lg "style="background-color: white;">
              <img src="{% static 'image/pop.jpeg' %}" class="w-10 rounded-full border-solid border-4 border-purple-600 ml-20 mt-1">
              <p><span class="text-gray-500"><strong>Nikema Prophet</strong></span>
                <br>
              <span class="text-gray-500">software developer</span>
              </p> 
              <a href="" class="uk-icon-button" uk-icon="github"></a>
              <a href="" class="uk-icon-button" uk-icon="twitter"></a>
              </div>
              <div class=" col-sm-2 col-md-2 border-solid border-2 rounded-lg "style="background-color: white;">
                <img src="{% static 'image/pop.jpeg' %}" class="w-10 rounded-full border-solid border-4 border-purple-600 ml-20 mt-1">
                <p><span class="text-gray-500"><strong>Nikema Prophet</strong></span>
                  <br>
                <span class="text-gray-500">software developer</span>
                </p> 
                <a href="" class="uk-icon-button" uk-icon="github"></a>
                <a href="" class="uk-icon-button" uk-icon="twitter"></a>
                </div>
</div>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-sm-6 col-md-6 ">
  <p class="px-16 text-6xl font-4xl"style="font-family: 'Comfortaa', cursive;">popschool</p>
</div>
{%endblock%}