
{% extends 'base.html' %}
{% load static %}
{% block content %}

			<div role="main" class="main">

				<div class="slider-container rev_slider_wrapper" style="height: 600px;">
					<div id="revolutionSlider" class="slider rev_slider manual" data-version="5.4.8">
						<ul>
							<li data-transition="fade">
								<img src="{% static 'image/rural2.jpg' %}"  
									alt="Proceed to the Next Steps"
									data-bgposition="center center" 
									data-bgfit="cover" 
									data-bgrepeat="no-repeat"
									class="rev-slidebg">

								<div class="tp-caption text-color-light custom-secondary-font"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="-90"
									data-start="800"
									data-whitespace="nowrap"						 
									data-transform_in="y:[100%];opacity:0;s:500;"
									data-transform_out="opacity:0;s:500;"
									style="font-size: 22px;">Welcome to</div>

								<h1 class="tp-caption text-color-light custom-secondary-font font-weight-bold"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="-50"
									data-start="1100"
									data-whitespace="nowrap"						 
									data-transform_in="y:[100%];opacity:0;s:500;"
									data-transform_out="opacity:0;s:500;"
									style="font-size: 54px;">Stand for them official site</h1>

								<div class="tp-caption text-uppercase text-color-light custom-secondary-font"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="0"
									data-start="1400"
									data-whitespace="nowrap"						 
									data-transform_in="y:[100%];opacity:0;s:500;"
									data-transform_out="opacity:0;s:500;"
									style="font-size: 22px;">inclusive tech that left none behind</div>

								<a href="/" class="tp-caption btn btn-primary custom-btn-style-1 text-uppercase"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="90"
									data-start="1700"
									data-whitespace="nowrap"						 
									data-transform_in="y:[100%];opacity:0;s:500;"
									data-transform_out="opacity:0;s:500;" 
									data-fontsize="['16','16','16','24']">Learn More</a>
							</li>
							<li data-transition="fade">
								<img src="{% static 'image/transp.jpg' %}"  
									alt="Proceed to the Next Steps"
									data-bgposition="center center" 
									data-bgfit="cover" 
									data-bgrepeat="no-repeat"
									class="rev-slidebg">

								<div class="tp-caption text-color-light custom-secondary-font"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="-90"
									data-start="800"
									data-whitespace="nowrap"						 
									data-transform_in="y:[100%];opacity:0;s:500;"
									data-transform_out="opacity:0;s:500;"
									style="font-size: 22px;">Bringing</div>

								<h1 class="tp-caption text-color-light custom-secondary-font font-weight-bold"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="-50"
									data-start="1100"
									data-whitespace="nowrap"						 
									data-transform_in="y:[100%];opacity:0;s:500;"
									data-transform_out="opacity:0;s:500;"
									style="font-size: 54px;">The technology that helps in accessing</h1>

								<div class="tp-caption text-uppercase text-color-light custom-secondary-font"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="0"
									data-start="1400"
									data-whitespace="nowrap"						 
									data-transform_in="y:[100%];opacity:0;s:500;"
									data-transform_out="opacity:0;s:500;"
									style="font-size: 22px;"> primary services for everyone</div>

								<a href="/" class="tp-caption btn btn-primary custom-btn-style-1 text-uppercase"
									data-x="center" data-hoffset="0"
									data-y="center" data-voffset="90"
									data-start="1700"
									data-whitespace="nowrap"						 
									data-transform_in="y:[100%];opacity:0;s:500;"
									data-transform_out="opacity:0;s:500;" 
									data-fontsize="['16','16','16','24']">Learn More</a>
							</li>
						</ul>
					</div>
				</div>

				<section class="section section-tertiary section-no-border m-0">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-10">
								<span class="custom-secondary-font font-weight-bold custom-text-color-1 text-4">we believe in gender equality</span>
								<h2 class="font-weight-bold custom-text-color-1 m-0">we believe that disability is not inability. <span class="font-weight-normal custom-secondary-font custom-font-italic">we fight for everyone's right</span></h2>
							</div>
							<div class="col-lg-2 mt-4 mt-lg-0">
								
							</div>
						</div>
					</div>
				</section>

				<section class="section section-no-border custom-position-relative custom-section-padding-1 bg-color-light m-0">
					<img class="custom-cloud left-pos d-none d-md-block appear-animation" data-appear-animation="customFadeInLeftNoRotate" data-appear-animation-delay="0" data-plugin-options="{'accY': -300}" src="{% static 'img/demos/church/others/left-cloud.png' %}" alt />
					<div class="custom-big-square left-pos d-none d-md-block custom-box-shadow appear-animation" data-appear-animation="customFadeInLeft" data-appear-animation-delay="500" data-plugin-options="{'accY': -300}" style="background: url('img/demos/church/others/big-left-square-img.jpg'); background-size: cover;"></div>
					<div class="custom-small-square left-pos d-none d-md-block custom-box-shadow appear-animation" data-appear-animation="customFadeInLeft" data-appear-animation-delay="1000" data-plugin-options="{'accY': -300}" style="background: url('img/demos/church/others/small-left-square-img.jpg'); background-size: cover;"></div>
					<img class="custom-cloud right-pos d-none d-md-block appear-animation" data-appear-animation="customFadeInRightNoRotate" data-appear-animation-delay="0" data-plugin-options="{'accY': -300}" src="{% static 'img/demos/church/others/right-cloud.png' %}" alt />
					<div class="custom-big-square right-pos d-none d-md-block custom-box-shadow appear-animation" data-appear-animation="customFadeInRight" data-appear-animation-delay="500" data-plugin-options="{'accY': -300}" style="background: url(% static 'img/demos/church/others/big-right-square-img.jpg' % ); background-size: cover;"></div>
					<div class="custom-small-square right-pos d-none d-md-block custom-box-shadow appear-animation" data-appear-animation="customFadeInRight" data-appear-animation-delay="1000" data-plugin-options="{'accY': -300}" style="background: url(% static 'img/demos/church/others/small-right-square-img.jpg' % ); background-size: cover;"></div>
					<div class="container">
						<div class="row justify-content-center text-center">
							<div class="col-md-8 col-xl-10">
								<h2 class="font-weight-bold">We stand for inclusivity for all</h2>
								<p>There is a lot of vulnerable  people  that are struggling in their every day life
									trying to access some needed services due to different obstacle
									either financial ,disability ,gender ,
									as well as location.so as stand for them we 
									are working on the solutions that are going to 
									remove those obstacle using technology .
								</p>
								<a href="/" class="btn btn-primary custom-btn-style-1 text-uppercase mt-4">Learn More</a>
							</div>
						</div>
					</div>
				</section>

				<section class="section section-secondary section-no-border m-0">
					<div class="container">
						<div class="row justify-content-center text-center custom-negative-margin-1">
							<div class="col">
								<div class="countdown custom-newcomers-class custom-secondary-font custom-box-shadow font-weight-bold text-color-dark" data-plugin-countdown data-plugin-options="{'date': '2019/06/10 12:00:00', 'numberClass': 'font-weight-bold text-color-primary', 'wrapperClass': 'text-color-dark', 'insertHTMLbefore': 'Newcomers Class', 'textDay': 'Day', 'textHour': 'Hrs', 'textMin': 'Min', 'textSec': 'Sec', 'uppercase': false}"></div>
							</div>
						</div>
						<div class="row justify-content-center text-center">
							<div class="col-lg-4 col-sm-8 mb-4 mb-lg-0">
								<img src="{% static 'img/demos/church/icons/custom-icon-1.png' %}" alt class="img-repsonsive" />
								<h2 class="font-weight-bold text-color-light">Our Values</h2> 
								<p class="custom-text-color-2">we believe that all people have accessibility right.</br>in different sectors.the reason why .</br>we want to make all people comfortable in every fields.</p>
							</div>
							<div class="col-lg-4 col-sm-8 mb-4 mb-lg-0">
								<img src="{% static 'img/demos/church/icons/custom-icon-3.png' %}" alt class="img-repsonsive" />
								<h2 class="font-weight-bold text-color-light">vision</h2>
								<p class="custom-text-color-2"><strong class="text-color-light">become an inclusive</strong></br> technology center</br> that left none behind</p>
							</div>
							<div class="col-lg-4 col-sm-8">
								<img src="{% static 'img/demos/church/icons/custom-icon-3.png' %}" alt class="img-repsonsive" />
								<h2 class="font-weight-bold text-color-light">Our Mission</h2>
								<p class="custom-text-color-2">building and bringing new technology.</br> that will be helping all the people to.</br> be inclusive in every sector .</p>
							</div>
						</div>
					</div>
				</section>

                <!-- blog section -->
				<section class="section section-no-border bg-color-light m-0">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-12 col-sm-8">
								<h2 class="font-weight-bold">some of our projects</h2>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-10 col-lg-4 mb-4 mb-lg-0">
								<article class="custom-post-blog">
									<span class="thumb-info custom-thumb-info-2">
										<span class="thumb-info-wrapper">
											<a href="https://smartikigega.herokuapp.com">
												<img src="{% static 'image/wfp-629x420.jpg' %}" alt class="img-fluid" />
											</a>
										</span>
										<span class="thumb-info-caption custom-box-shadow">
											<span class="thumb-info-caption-text">
												<h4 class="font-weight-bold mb-4">
													<a href="https://smartikigega.herokuapp.com" class="text-decoration-none custom-secondary-font text-color-dark">
														smart Ikigega
													</a>
												</h4>
												<p>with this projects we bring inclusivity of farmers<br/>
													in financial(loans),harvest insurance,cashless services  and be 
													link them to different sectors using digital technology
													</p>
											</span>
											<a href="https://smartikigega.herokuapp.com" class="btn btn-primary custom-btn-style-1 text-uppercase">more</a>
										</span>
									</span>
								</article>
							</div>
							<div class="col-md-10 col-lg-4 mb-4 mb-lg-0">
								<article class="custom-post-blog">
									<span class="thumb-info custom-thumb-info-2">
										<span class="thumb-info-wrapper">
											<a href="https://etekana.rw/">
												<img src="{% static 'image/inclusive.jpg' %}" alt class="img-fluid" />
											</a>
										</span>
										<span class="thumb-info-caption custom-box-shadow">
											<span class="thumb-info-caption-text">
												<h4 class="font-weight-bold mb-4">
													<a href="https://etekana.rw/" class="text-decoration-none custom-secondary-font text-color-dark">
														E-tekana 
													</a>
												</h4>
												<p>with this projects we bring the inclusivity of girls and women
													in digital security by providing them basic knowledgethrough
													the virtual session and mye-safety platform they needed
													to secure their digital data which is going to help us to avoid
													Online GBV(gender based violence) .</p>
											</span>

											<a href="https://etekana.rw/" class="btn btn-primary custom-btn-style-1 text-uppercase">more</a>
										</span>
										
									</span>
								</article>
							</div>
							<div class="col-md-10 col-lg-4">
								<article class="custom-post-blog">
									<span class="thumb-info custom-thumb-info-2">
										<span class="thumb-info-wrapper">
											<a href="demo-church-blog-detail.html">
												<img src="{% static 'image/inclusive.jpg' %}" alt class="img-fluid" />
											</a>
										</span>
										<span class="thumb-info-caption custom-box-shadow">
											<span class="thumb-info-caption-text">
												<h4 class="font-weight-bold mb-4">
													<a href="https://docs.google.com/presentation/d/1ECk0qVOUDwkZhOYG1wthxNzjm49chyUk/edit?usp=sharing&ouid=100494738124196673409&rtpof=true&sd=true" class="text-decoration-none custom-secondary-font text-color-dark">
														Murinzi Quick BOX      
													</a>
												</h4>
												<p> With this project we bring inclusion of people with disability and 
													illiterate people in rural area and in the city to access Reproductive health care services like pads ,condom ...
												easily in their community without intervention of another personthey are also able to use voice only while asking one of our services or reporting any inquiries</p>
													
.</p>
											</span>
											<a href="https://docs.google.com/presentation/d/1Tuyd2ffyVd4ZGWL1AR1aFHsc6rUwTN86/edit#slide=id.p4" class="btn btn-primary custom-btn-style-1 text-uppercase">more</a>
										</span>
									</span>
								</article>
							</div>
						</div>
					</div>
				</section>

{% endblock content %}		

	
