<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="icon" type="icon/jpg"  href="image/rice.jpg" >
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div class="row">
    <div class="jumbotron col-6">
    <h1>Register</h1>
    <p class="lead">my first form</p>
    <p class="alert alert-warning">{{message}}</p>
   <form action="{% url 'register' %}" method="POST">
       {%csrf_token %}
       <label for="names" >names</label>
       <input type="text" name="names" class="form-control">
       <label for="email" >email</label>
       <input type="text" name="email" class="form-control">
       <label for="phone" >phone</label>
       <input type="text" name="phone" class="form-control">
       <input type="submit" name="submit" class="button">
   </form>
   </div>
   <div class="table col-6 bg-blue-400">
       <table>
           <tr><td>id</td><td>name</td><td>email</td><td>phone</td><td>Delete</td><td>Update</td></tr>
           {% for y in data %}
           <tr><td>{{ y.id }}</td><td>{{ y.names }}</td><td>{{ y.email }}</td><td>{{ y.phone }}</td>
         <td><a href="{% url 'deleteInfos' id=y.id  %}"><span class="btn btn-danger">Delete</span></a></td>
         <td><a href="{% url 'updateInfos' id=y.id  %}"><span class="btn btn-info">Update</span></a></td>
        
        </tr>
           {% endfor%}
    </table>
   </div>
   </div>
</body>
</html>